# =========================
# Build / Compilação
# =========================
build/

# =========================
# Editor / IDE
# =========================
.vscode/

# =========================
# Sistema Operacional (Windows)
# =========================
Thumbs.db
desktop.ini

# =========================
# Temporários gerais
# =========================
*.log
*.tmp